<div class="data">
    <div class="quality_block">
        <div class="quality_title">
            <div class="quality_titleRed">工作动态</div>
            <div class="crumbs">
                <span style="cursor: pointer;" (click)="jump('work','')">工作动态</span>>
                <span>工作动态详情</span>
            </div>
        </div>
        <div class="dataTitle">{{data.title}}</div>
        <div class="divid">
            <div class="dividWord" style="float: left;">{{data.createUser}}</div>
            <div class="dividWord" style="float: right;margin: 0 10px;">阅读量：{{readCount}}</div>
            <div class="dividWord" style="float: right;margin: 0 10px;">发布时间：{{data.updateTime}}</div>
        </div>
        <div [innerHTML]='content' class="content"></div>
        <!-- <div class="praiseSrc">
            <img src="./assets/images/praise.png" style="width: 30px;margin-top: 12px;">
        </div> -->
        <div style="width: 100%;border-bottom: 1px solid #CACACA;"></div>
        <!-- <div class="publish">
            <div class="publishWord">发表评论</div>
            <textarea class="publishText publishText-1" placeholder="请理性评论"></textarea>
            <div class="fabu">发布评论</div>
            <div class="comment">
                <div class="commentTitle">
                    <div class="commentOK">
                        全部评论
                    </div>
                    <div class="commentNOOK">/</div>
                    <div class="commentNOOK">
                        我的评论
                    </div>
                    <div class="commentYOUOK">
                        最热
                    </div>
                    <div class="commentYOU">
                        /
                    </div>
                    <div class="commentYOU">
                        最新
                    </div>
                </div>
                <div class="commentData">
                    <div class="headPor"></div>
                    <div class="commentDataPar">
                        <div class="peopleName">
                            统计部小李
                            <span class="peopleTime">一小时前</span>
                        </div>
                        <div class="neirong">
                            一线工作者你们辛苦了！向你们致敬！祝福你们一帆风顺！！！
                        </div>
                        <div class="butt">
                            <div>
                                <img src="./assets/images/praise2.png">
                                <span>赞5</span>
                            </div>
                            <div>
                                <img src="./assets/images/reply.png">
                                <span>回复</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="xiala">
                <div>
                    下拉查看更多评论
                </div>
                <div>
                    <i nz-icon type="down" theme="outline"></i>
                </div>
            </div>
        </div> -->
    </div>
</div>