<div class="data">
    <div class="quality_block">
        <div class="quality_title">
            <div class="quality_titleRed">
                党建要闻
            </div>
            <div class="crumbs">
                <span>党建要闻</span>>
                <span>党建要闻详情</span>
            </div>
        </div>
        <div class="dataTitle">
            在新时代党的真挚关怀下不断奋进
        </div>
        <div class="divid">
            <div class="dividWord" style="float: left;">
                西昌卫星发射中心行政管理部
            </div>
            <div class="dividWord" style="float: right;margin: 0 10px;">
                点赞：539
            </div>
            <div class="dividWord" style="float: right;margin: 0 10px;">
                评论：134
            </div>
            <div class="dividWord" style="float: right;margin: 0 10px;">
                阅读量：2934
            </div>
            <div class="dividWord" style="float: right;margin: 0 10px;">
                发布时间：2018-09-12 12:38
            </div>
        </div>
        <div>
            内容~~~~~
        </div>
        <div class="praiseSrc">
            <img src="../../../../assets/images/praise.png" style="width: 30px;margin-top: 12px;">
        </div>
        <div style="width: 100%;border-bottom: 1px solid #CACACA;"></div>
        <div class="publish">
            <div class="publishWord">发表评论</div>
            <textarea class="publishText publishText-1" placeholder="请理性评论"></textarea>
            <div class="fabu">发布评论</div>
            <div class="comment">
                <div class="commentTitle">
                    <div class="commentOK">
                        全部评论
                    </div>
                    <div class="commentNOOK">/</div>
                    <div class="commentNOOK">
                        我的评论
                    </div>
                    <div class="commentYOUOK">
                        最热
                    </div>
                    <div class="commentYOU">
                        /
                    </div>
                    <div class="commentYOU">
                        最新
                    </div>
                </div>
                <div class="commentData">
                    <div class="headPor"></div>
                    <div class="commentDataPar">
                        <div class="peopleName">
                            统计部小李
                            <span class="peopleTime">一小时前</span>
                        </div>
                        <div class="neirong">
                            一线工作者你们辛苦了！向你们致敬！祝福你们一帆风顺！！！
                        </div>
                        <div class="butt">
                            <div>
                                <img src="../../../../assets/images/praise2.png">
                                <span>赞5</span>
                            </div>
                            <div>
                                <img src="../../../../assets/images/reply.png">
                                <span>回复</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="xiala">
                <div>
                    下拉查看更多评论
                </div>
                <div>
                    <i nz-icon type="down" theme="outline"></i>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="other">
    <div class="other_data">
        <div class="friendLink">
            <span style="color: #CF2323;float: left;margin-right: 60px;">友情连接</span>
            <div style="float: left;width: 80%;">
                <div class="friendLinkBox">西昌卫星发射中心官方网站</div>
                <div class="friendLinkBox">中国探月工程设计研究院</div>
                <div class="friendLinkBox">中华人民共和国工业和信息化部</div>
                <div class="friendLinkBox">中国探月工程设计研究院</div>
            </div>
            <span style="float: right;">更多 ></span>
        </div>
        <div class="friendLink">
            <span style="color: #CF2323;float: left;margin-right: 90px;">关于</span>
            <div style="float: left;width: 80%;">
                <div class="friendLinkBox">联系我们</div>
                <div class="friendLinkBox">网址导航</div>
                <div class="friendLinkBox">网址导航</div>
            </div>
        </div>
        <div class="friendLink">
            <span style="color: #CF2323;float: left;margin-right: 90px;">商务</span>
            <div style="float: left;width: 80%;">
                <div class="friendLinkBox" style="font-weight: 600">服务热线：0834-82738879</div>
                <div class="friendLinkBox" style="font-weight: 600">商务合作：0834-23976688</div>
                <div class="friendLinkBox" style="font-weight: 600">官方邮件地址：xcwsfszx@163.com</div>
            </div>
        </div>
        <div class="heng"></div>
        <div class="logo">
            <img src="../../../../assets/images/logo.png">
            <span style="font-size:20px;margin: 0 5px;">西昌卫星发射中心</span>
            <span style="font-size:16px;margin: 0 5px;">物资供应查询平台</span>
            <div class="small-font">XICHANG SATELLITE LAUNCH CENTER MATERIAL SUPPLY INQUIRY PLATFORM</div>
        </div>

        <div class="you">
            <div>
                Copyright©2018版权所有 中国西昌卫星发射中心 备案序号:川ICP备 10029358号 公网安备1104010029358号
            </div>
            <div>
                网站运维：四川成都清数科技有限公司 访问统计：
            </div>
            <div>
                地址：凉山彝族自治州冕宁县泽远乡封家湾　邮编：735400
            </div>
        </div>
    </div>
</div>