<div class="data">
    <div class="quality_block">
        <div class="quality_title">
            <div class="quality_titleRed">
                通知公告
            </div>
            <div class="crumbs">
                <span>通知公告</span>>
                <span>通知公告详情</span>
            </div>
        </div>
        <div class="dataTitle">{{data.title}}</div>
        <div class="divid">
            <div class="dividWord" style="float: left;">{{data.createUser}}</div>
            <div class="dividWord" style="float: right;margin: 0 10px;">阅读量：{{data.readCount}}</div>
            <div class="dividWord" style="float: right;margin: 0 10px;">发布时间：{{data.createTime}}</div>
        </div>
        <div [innerHTML]='content' class="content"></div>
        <div style="width: 100%;border-bottom: 1px solid #CACACA;margin-top: 40px;"></div>
    </div>
</div>