<div class="data">
    <div class="quality_block">
        <div class="quality_title">
            <div class="quality_titleRed">
                机构详情
            </div>
            <div class="crumbs">
                <span>信息查询</span>>
                <span>设备资产详情</span>
            </div>
        </div>
        <div class="up">
            <div class="lunbo">
                <div style="text-align: center">
                    <img [src]="iiiiimg" style="width: 200px;height: 200px;">
                </div>
            </div>
            <div class="xinxi">
                <div class="name">
                    {{data.name}}
                </div>
                <div class="otherData">
                    机构评级：
                    <nz-rate [ngModel]="data.grade" nzDisabled></nz-rate>
                </div>
                <div class="otherData">
                    中国{{data.region.split(",")[1]}}{{data.address}}
                </div>
                <div class="line"></div>
                <div class="specificData">
                    <div nz-row>
                        <div nz-col nzSpan="6" class="ennnn">机构编号:</div>
                        <div nz-col nzSpan="18" class="emmmm">{{data.code}}</div>
                        <div nz-col nzSpan="6" class="ennnn">所在地区:</div>
                        <div nz-col nzSpan="18" class="emmmm">{{data.region.split(",")[1]}}</div>
                        <div nz-col nzSpan="6" class="ennnn">详细地址:</div>
                        <div nz-col nzSpan="18" class="emmmm">{{data.address}}</div>
                        <div nz-col nzSpan="6" class="ennnn">统一社会信用代码:</div>
                        <div nz-col nzSpan="18" class="emmmm">{{data.socialCreditCode}}</div>
                        <div nz-col nzSpan="6" class="ennnn">注册日期:</div>
                        <div nz-col nzSpan="18" class="emmmm">{{data.registDate}}</div>
                        <div nz-col nzSpan="6" class="ennnn">法人姓名:</div>
                        <div nz-col nzSpan="18" class="emmmm">{{data.legalPerson}}</div>
                        <div nz-col nzSpan="6" class="ennnn">法人身份证号:</div>
                        <div nz-col nzSpan="18" class="emmmm">{{data.legalPersonName}}</div>
                        <div nz-col nzSpan="6" class="ennnn">联系人姓名:</div>
                        <div nz-col nzSpan="18" class="emmmm">{{data.contactsUserName}}</div>
                        <div nz-col nzSpan="6" class="ennnn">联系人身份证号:</div>
                        <div nz-col nzSpan="18" class="emmmm">{{data.contactsUseIdnum}}</div>
                        <div nz-col nzSpan="6" class="ennnn">联系人电话:</div>
                        <div nz-col nzSpan="18" class="emmmm">{{data.phone}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="line"></div>
        <div class="remarks">
            <div class="zhuyao">
                华为公司简介:
            </div>
            <div class="jutizhuyao">
                {{data.remark}}
            </div>
        </div>
        <div class="line"></div>
        <textarea class="publishText publishText-1" placeholder="产品信息变更反馈：（200字符内）" maxlength="200"></textarea>
        <div class="fabu">提交</div>
    </div>
</div>
