<div class="data">
  <div class="quality_block">
    <div class="quality_title">
      <div class="quality_titleRed">
        信息查询
      </div>
      <div class="quality_titleOption" (click)="jump('equipment','')">
        设备资产
      </div>
      <div class="quality_titleOption" (click)="jump('equipment/supplier','')">
        供应商
      </div>
      <div class="quality_titleOptionOK">
        招投标机构
      </div>
    </div>
  </div>
  <div style="margin-bottom: 10px;">
    <input nz-input placeholder="机构名称" [(ngModel)]="name" style="width: 16%;margin: 20px 2%;">
    <nz-select style="width: 8%;margin-right: 15px;" [(ngModel)]="provinceNum" nzAllowClear nzPlaceHolder="省份"
      (ngModelChange)="getAdminDivision(2,provinceNum)">
      <nz-option *ngFor="let item of province" [nzValue]="item.provinceCode" [nzLabel]="item.provinceName"></nz-option>
    </nz-select>
    <nz-select style="width: 8%;margin-right: 15px;" [(ngModel)]="cityNum" nzAllowClear nzPlaceHolder="城市">
      <nz-option *ngFor="let item of city" [nzValue]="item.cityCode" [nzLabel]="item.cityName"></nz-option>
    </nz-select>
    <span>类型:</span>
    <nz-select style="width: 10%; margin: 20px 2%;" [(ngModel)]="grade"  nzPlaceHolder="机构星">
      <nz-option nzValue="" nzLabel="全部"></nz-option>
      <nz-option nzValue="1" nzLabel="一星"></nz-option>
      <nz-option nzValue="2" nzLabel="二星"></nz-option>
      <nz-option nzValue="3" nzLabel="三星"></nz-option>
      <nz-option nzValue="4" nzLabel="四星"></nz-option>
      <nz-option nzValue="5" nzLabel="五星"></nz-option>
    </nz-select>
    <span>状态:</span>
    <nz-select style="width: 10%; margin: 20px 2%;" [(ngModel)]="status"  nzPlaceHolder="机构状态">
      <nz-option nzValue="" nzLabel="全部"></nz-option>
      <nz-option nzValue="0" nzLabel="停用"></nz-option>
      <nz-option nzValue="1" nzLabel="正常"></nz-option>
    </nz-select>
    <div (click)="dow()" class="queryButton">下载</div>
    <div class="queryButton" (click)="getList()">查询</div>
  </div>
  <div class="equipmentData">
    <div class="division"  style="cursor: pointer;" *ngFor="let item of data; let i = index" (click)="jump('equipment/bids/see',item.id)">
      <div class="setu">
        <img [src]="iiiiimg[i]" class="icon">
      </div>
      <div class="setext">
        <div class="name">{{item.name}}</div>
        <div class="number">{{item.typeName}}</div>
        <div class="number">中国{{item.region.split(",")[1]}}</div>
        <div class="number">{{item.contactsUserName}} {{item.phone}}</div>
      </div>
    </div>
  </div>
</div>
<div style="width: 100%;text-align: center;background-color: white;padding-bottom: 40px;">
  <nz-pagination nzShowSizeChanger [nzTotal]="total" [(nzPageSize)]="pageSize" [(nzPageIndex)]="pageIndex"
    (nzPageSizeChange)="getList()" (nzPageIndexChange)="getList()"></nz-pagination>
</div>