<div class="data">
  <div class="quality_block">
    <div class="quality_title">
      <div class="quality_titleRed">
        资料下载
      </div>
      <div class="quality_titleOption" [ngStyle]="itleOption[0]" (click)="itleOptionOK(0)">全部</div>
      <div class="quality_titleOption" [ngStyle]="itleOption[1]" (click)="itleOptionOK(1)">工业</div>
      <div class="quality_titleOption" [ngStyle]="itleOption[2]" (click)="itleOptionOK(2)">航空航天</div>
      <div class="quality_titleOption" [ngStyle]="itleOption[3]" (click)="itleOptionOK(3)">医药</div>
      <div class="quality_titleOption" [ngStyle]="itleOption[4]" (click)="itleOptionOK(4)">基础科学</div>
      <div class="quality_titleOption" [ngStyle]="itleOption[5]" (click)="itleOptionOK(5)">工程控制</div>
      <div class="quality_titleOption" [ngStyle]="itleOption[6]" (click)="itleOptionOK(6)">农业</div>
      <div class="quality_titleOption" [ngStyle]="itleOption[7]" (click)="itleOptionOK(7)">自然物理</div>
      <div class="quality_titleOption" [ngStyle]="itleOption[8]" (click)="itleOptionOK(8)">经济财政</div>
    </div>
    <div class="lastContent">
      <div class="line" *ngFor="let item of data">
        <div class="circular"></div>
        <div class="lineData">
          {{item.reportName}}
        </div>
        <div class="date">
          {{item.updateTime}}
          <a style="margin-left:30px; height: 28px;" target="_blank" 
          href="/v1/front/download?fileUrl={{item.images}}" nz-button>下载</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="width: 100%;text-align: center;background-color: white;padding-bottom: 40px;">
  <nz-pagination nzShowSizeChanger [nzTotal]="total" [(nzPageSize)]="pageSize" [(nzPageIndex)]="pageIndex"
    (nzPageSizeChange)="getList()" (nzPageIndexChange)="getList()"></nz-pagination>
</div>