<div class="data">
    <div class="quality_block">
        <div class="quality_title">
            <div class="quality_titleRed">
                后勤管理
            </div>
            <div class="crumbs">
            </div>
        </div>
        <div class="dataTitle">
            网上订餐
        </div>
        <div class="dataData">
            <div nz-row>
                <div nz-col nzSpan="8" class="emmm">用餐人姓名:</div>
                <div nz-col nzSpan="12" class="ennn">
                    <input nz-input placeholder="请输入姓名" [(ngModel)]="name">
                </div>
                <div nz-col nzSpan="8" class="emmm">身份证号:</div>
                <div nz-col nzSpan="12" class="ennn">
                    <input nz-input placeholder="请输入身份证号" [(ngModel)]="idnum">
                </div>
                <div nz-col nzSpan="8" class="emmm">联系电话:</div>
                <div nz-col nzSpan="12" class="ennn">
                    <input nz-input placeholder="请输入联系电话" [(ngModel)]="phone">
                </div>
                <div nz-col nzSpan="8" class="emmm">工作单位:</div>
                <div nz-col nzSpan="12" class="ennn">
                    <input nz-input placeholder="请输入工作单位" [(ngModel)]="workers">
                </div>
                <div nz-col nzSpan="8" class="emmm">用餐人数:</div>
                <div nz-col nzSpan="12" class="ennn">
                    <nz-input-number [(ngModel)]="eatsCount" [nzMin]="1" [nzStep]="1" [nzPrecision]="0"></nz-input-number>
                </div>
                <div nz-col nzSpan="8" class="emmm">用餐时间:</div>
                <div nz-col nzSpan="12" class="ennn">
                    <nz-date-picker nzShowTime nzFormat="yyyy-MM-dd HH:mm:ss" nzPlaceHolder="请选择时间" nzAllowClear="false"
                        [(ngModel)]="date" (ngModelChange)="dateChange($event)"></nz-date-picker>
                </div>
                <div nz-col nzSpan="8" class="emmm">备注:</div>
                <div nz-col nzSpan="12" class="ennn">
                    <textarea class="publishText publishText-1" placeholder="请输入备注" [(ngModel)]="remark"></textarea>
                </div>
                <div style="width: 100%;margin: 20px 0;overflow: hidden;text-align: center">
                    <button nz-button nzType="primary" (click)="save()">确定</button>
                </div>
            </div>
        </div>
    </div>
</div>