<div class="data">
    <div class="quality_block">
        <div class="quality_title">
            <div class="quality_titleRed">
                设备详情
            </div>
            <div class="crumbs">
                <span>信息查询</span>>
                <span>设备资产详情</span>
            </div>
        </div>
        <div class="up">
            <div class="lunbo">
                <div style="text-align: center">
                    <i nz-icon type="left" theme="outline"></i>
                    <img src="../../../../assets/images/logo.png">
                    <i nz-icon type="right" theme="outline"></i>
                </div>
            </div>
            <div class="xinxi">
                <div class="name">
                    卫星无线跟踪系统移动交换机
                </div>
                <div class="otherData">
                    编号：xc03556
                </div>
                <div class="otherData">
                    成都昊城通讯器材贸易有限公司
                </div>
                <div class="line"></div>
                <div class="specificData">
                    <div nz-row>
                        <div nz-col nzSpan="4" class="ennnn">设备编号:</div>
                        <div nz-col nzSpan="8" class="emmmm">xc03556</div>
                        <div nz-col nzSpan="4" class="ennnn">计量单位:</div>
                        <div nz-col nzSpan="8" class="emmmm">台</div>
                        <div nz-col nzSpan="4" class="ennnn">型号:</div>
                        <div nz-col nzSpan="8" class="emmmm">WLF495-800</div>
                        <div nz-col nzSpan="4" class="ennnn">标准或批号:</div>
                        <div nz-col nzSpan="8" class="emmmm">JLWQ973L32J6LH6HK47</div>
                        <div nz-col nzSpan="4" class="ennnn">设备类型:</div>
                        <div nz-col nzSpan="8" class="emmmm">通讯设备</div>
                        <div nz-col nzSpan="4" class="ennnn">生产日期:</div>
                        <div nz-col nzSpan="8" class="emmmm">2018年6月28日  15:28:32</div>
                        <div nz-col nzSpan="4" class="ennnn">规格:</div>
                        <div nz-col nzSpan="8" class="emmmm">无</div>
                        <div nz-col nzSpan="4" class="ennnn">有效期:</div>
                        <div nz-col nzSpan="8" class="emmmm">无</div>
                        <div nz-col nzSpan="4" class="ennnn">包装规格:</div>
                        <div nz-col nzSpan="8" class="emmmm">xc03556</div>
                        <div nz-col nzSpan="4" class="ennnn">供应商:</div>
                        <div nz-col nzSpan="8" class="emmmm">成都昊城通讯器材贸易有限公司</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="line"></div>
        <div class="remarks">
            <div class="zhuyao">
                主要功能:
            </div>
            <div class="jutizhuyao" *ngFor="let item of items;let i =index">
                {{i}}.{{item.name}}
                <div class="jutidejuti">
                    {{item.data}}
                </div>
            </div>
        </div>
        <div class="line"></div>
        <textarea class="publishText publishText-1" placeholder="产品信息变更反馈：（200字符内）" maxlength="200"></textarea>
        <div class="fabu">提交</div>
    </div>
</div>


<div class="other">
    <div class="other_data">
        <div class="friendLink">
            <span style="color: #CF2323;float: left;margin-right: 60px;">友情连接</span>
            <div style="float: left;width: 80%;">
                <div class="friendLinkBox">西昌卫星发射中心官方网站</div>
                <div class="friendLinkBox">中国探月工程设计研究院</div>
                <div class="friendLinkBox">中华人民共和国工业和信息化部</div>
                <div class="friendLinkBox">中国探月工程设计研究院</div>
            </div>
            <span style="float: right;">更多 ></span>
        </div>
        <div class="friendLink">
            <span style="color: #CF2323;float: left;margin-right: 90px;">关于</span>
            <div style="float: left;width: 80%;">
                <div class="friendLinkBox">联系我们</div>
                <div class="friendLinkBox">网址导航</div>
                <div class="friendLinkBox">网址导航</div>
            </div>
        </div>
        <div class="friendLink">
            <span style="color: #CF2323;float: left;margin-right: 90px;">商务</span>
            <div style="float: left;width: 80%;">
                <div class="friendLinkBox" style="font-weight: 600">服务热线：0834-82738879</div>
                <div class="friendLinkBox" style="font-weight: 600">商务合作：0834-23976688</div>
                <div class="friendLinkBox" style="font-weight: 600">官方邮件地址：xcwsfszx@163.com</div>
            </div>
        </div>
        <div class="heng"></div>
        <div class="logo">
            <img src="../../../../assets/images/logo.png">
            <span style="font-size:20px;margin: 0 5px;">西昌卫星发射中心</span>
            <span style="font-size:16px;margin: 0 5px;">物资供应查询平台</span>
            <div class="small-font">XICHANG SATELLITE LAUNCH CENTER MATERIAL SUPPLY INQUIRY PLATFORM</div>
        </div>

        <div class="you">
            <div>
                Copyright©2018版权所有 中国西昌卫星发射中心 备案序号:川ICP备 10029358号 公网安备1104010029358号
            </div>
            <div>
                网站运维：四川成都清数科技有限公司 访问统计：
            </div>
            <div>
                地址：凉山彝族自治州冕宁县泽远乡封家湾　邮编：735400
            </div>
        </div>
    </div>
</div>