<div class="data">
    <div class="quality_block">
        <div class="quality_title">
            <div class="quality_titleRed">
                质量事件
            </div>
            <div class="crumbs">
                <span>质量问题列表</span>>
                <span>质量问题详情</span>
            </div>
        </div>
    </div>
    <div class="head">
        <div class="name">卫星跟踪系统故障</div>
        <div class="otherData">西昌卫星发发射中心物资采购管理部</div>
        <div class="otherData">2018-09-12 12:38 阅读量：2934</div>
    </div>
    <div class="dividing"></div>
    <div class="middle">
        <div nz-row>
            <div nz-col nzSpan="3" class="emmm">事件级别:</div>
            <div nz-col nzSpan="21" class="ennn">质量问题</div>
            <div nz-col nzSpan="3" class="emmm">供应商:</div>
            <div nz-col nzSpan="21" class="ennn">成都昊城通讯器材贸易有限公司</div>
            <div nz-col nzSpan="3" class="emmm">涉及物料:</div>
            <div nz-col nzSpan="21" class="ennn">卫星无线跟踪系统移动交换机</div>
            <div nz-col nzSpan="3" class="emmm">发生时间:</div>
            <div nz-col nzSpan="21" class="ennn">2018-09-20</div>
            <div nz-col nzSpan="3" class="emmm">发生部门:</div>
            <div nz-col nzSpan="21" class="ennn">生产部</div>
        </div>
    </div>
    <div class="dividing"></div>
    <div class="remarks">
        <div class="zhuyao">
            事件描述
        </div>
        <div class="jutizhuyao" *ngFor="let item of items;let i =index">
            {{i}}.{{item.name}}
            <div class="jutidejuti">
                {{item.data}}
            </div>
        </div>
    </div>
    <div class="dividing"></div>
    <div class="remarks">
        <div class="zhuyao">
            附件下载
        </div>
    </div>
</div>


<div class="other">
    <div class="other_data">
        <div class="friendLink">
            <span style="color: #CF2323;float: left;margin-right: 60px;">友情连接</span>
            <div style="float: left;width: 80%;">
                <div class="friendLinkBox">西昌卫星发射中心官方网站</div>
                <div class="friendLinkBox">中国探月工程设计研究院</div>
                <div class="friendLinkBox">中华人民共和国工业和信息化部</div>
                <div class="friendLinkBox">中国探月工程设计研究院</div>
            </div>
            <span style="float: right;">更多 ></span>
        </div>
        <div class="friendLink">
            <span style="color: #CF2323;float: left;margin-right: 90px;">关于</span>
            <div style="float: left;width: 80%;">
                <div class="friendLinkBox">联系我们</div>
                <div class="friendLinkBox">网址导航</div>
                <div class="friendLinkBox">网址导航</div>
            </div>
        </div>
        <div class="friendLink">
            <span style="color: #CF2323;float: left;margin-right: 90px;">商务</span>
            <div style="float: left;width: 80%;">
                <div class="friendLinkBox" style="font-weight: 600">服务热线：0834-82738879</div>
                <div class="friendLinkBox" style="font-weight: 600">商务合作：0834-23976688</div>
                <div class="friendLinkBox" style="font-weight: 600">官方邮件地址：xcwsfszx@163.com</div>
            </div>
        </div>
        <div class="heng"></div>
        <div class="logo">
            <img src="../../../../assets/images/logo.png">
            <span style="font-size:20px;margin: 0 5px;">西昌卫星发射中心</span>
            <span style="font-size:16px;margin: 0 5px;">物资供应查询平台</span>
            <div class="small-font">XICHANG SATELLITE LAUNCH CENTER MATERIAL SUPPLY INQUIRY PLATFORM</div>
        </div>

        <div class="you">
            <div>
                Copyright©2018版权所有 中国西昌卫星发射中心 备案序号:川ICP备 10029358号 公网安备1104010029358号
            </div>
            <div>
                网站运维：四川成都清数科技有限公司 访问统计：
            </div>
            <div>
                地址：凉山彝族自治州冕宁县泽远乡封家湾　邮编：735400
            </div>
        </div>
    </div>
</div>