<div class="data">
    <div class="quality_block">
        <div class="quality_title">
            <div class="quality_titleRed">
                后勤管理
            </div>
            <div class="crumbs">
            </div>
        </div>
        <div class="dataTitle">
            客房预订
        </div>
        <div class="dataData">
            <div style="width: 100%;margin: 10px 0;overflow: auto;">
                <div class="ennn"><span style="line-height: 32px;">姓名:</span></div>
                <div class="emmm">
                    <input style="width: 70%;" nz-input placeholder="请输入姓名" [(ngModel)]="name">
                </div>
            </div>
            <div style="width: 100%;margin: 10px 0;overflow: auto;">
                <div class="ennn"><span style="line-height: 32px;">工作单位:</span></div>
                <div class="emmm">
                    <input style="width: 70%;" nz-input placeholder="请输入工作单位" [(ngModel)]="workers">
                </div>
            </div>
            <div style="width: 100%;margin: 10px 0;overflow: auto;">
                <div class="ennn"><span style="line-height: 32px;">是否为军人:</span></div>
                <div class="emmm">
                    <nz-radio-group [(ngModel)]="arm">
                        <label nz-radio [nzValue]="0">不是</label>
                        <label nz-radio [nzValue]="1">是</label>
                    </nz-radio-group>
                </div>
            </div>
            <div style="width: 100%;margin: 10px 0;overflow: auto;" *ngIf="arm == 1">
                <div class="ennn"><span style="line-height: 32px;">军官证号:</span></div>
                <div class="emmm">
                    <input style="width: 70%;" nz-input placeholder="请输入军官证号" [(ngModel)]="armNum">
                </div>
            </div>
            <div style="width: 100%;margin: 10px 0;overflow: auto;" *ngIf="arm == 1">
                <div class="ennn"><span style="line-height: 32px;">与军人关系:</span></div>
                <div class="emmm">
                    <input style="width: 70%;" nz-input placeholder="请输入与军人关系" [(ngModel)]="withArm">
                </div>
            </div>
            <div style="width: 100%;margin: 10px 0;overflow: auto;">
                <div class="ennn"><span style="line-height: 32px;">身份证号:</span></div>
                <div class="emmm">
                    <input style="width: 70%;" nz-input placeholder="请输入身份证号" [(ngModel)]="idnum">
                </div>
            </div>
            <div style="width: 100%;margin: 10px 0;overflow: auto;">
                <div class="ennn"><span style="line-height: 32px;">入住日期:</span></div>
                <div class="emmm">
                    <nz-date-picker [(ngModel)]="livingTime"></nz-date-picker>
                </div>
            </div>
            <div style="width: 100%;margin: 10px 0;overflow: auto;">
                <div class="ennn"><span style="line-height: 32px;">离店日期:</span></div>
                <div class="emmm">
                    <nz-date-picker [(ngModel)]="leavingDate"></nz-date-picker>
                </div>
            </div>
            <div style="width: 100%;margin: 10px 0;overflow: hidden;">
                <div class="ennn"><span style="line-height: 32px;">订房:</span></div>
                <div class="emmm">
                    <div *ngFor="let item of rooms; let i=index">
                        <nz-radio-group [(ngModel)]="item.roomsType">
                            <label nz-radio [nzValue]="1">单间</label>
                            <label nz-radio [nzValue]="2">标间</label>
                            <label nz-radio [nzValue]="3">小套间</label>
                            <label nz-radio [nzValue]="4">大套房</label>
                        </nz-radio-group>
                        <span style="line-height: 32px;margin-right: 10px">间数:</span>
                        <nz-input-number style="margin-right: 10px" [nzPrecision] = "0" [nzMin]="1" [(ngModel)]="item.rooms" [nzStep]="1"></nz-input-number>
                        <button nz-button nzType="default" (click)="addDelRoom(i)">删除</button>
                    </div>
                    <button nz-button nzType="default" (click)="addDelRoom('')">添加</button>
                </div>
            </div>
            <div style="width: 100%;margin: 10px 0;overflow: auto;">
                <div class="ennn"><span style="line-height: 32px;">留房时间:</span></div>
                <div class="emmm">
                    <nz-input-group style="width: 30%;" nzAddOnAfter="点前">
                        <input nz-input placeholder="请输入留房时间" [(ngModel)]="allotment">
                    </nz-input-group>
                </div>
            </div>
            <div style="width: 100%;margin: 10px 0;overflow: auto;">
                <div class="ennn"><span style="line-height: 32px;">联系电话:</span></div>
                <div class="emmm">
                    <input style="width: 70%;" nz-input placeholder="请输入联系电话" [(ngModel)]="phone">
                </div>
            </div>
            <div style="width: 100%;margin: 10px 0;overflow: hidden;text-align: center">
                <button nz-button nzType="primary" (click)="save()">确定</button>
            </div>
        </div>
    </div>
</div>