<div class="data">
    <div class="quality_block">
        <div class="quality_title">
            <div class="quality_titleRed">
                市场信息
            </div>
            <div class="crumbs">
                <span>市场信息</span>>
                <span>市场信息详情</span>
            </div>
        </div>
        <div class="dataTitle">
            在新时代党的真挚关怀下不断奋进
        </div>
        <div class="divid">
            <div class="dividWord" style="float: left;">
                西昌卫星发射中心行政管理部
            </div>
            <div class="dividWord" style="float: right;margin: 0 10px;">
                阅读量：2934
            </div>
            <div class="dividWord" style="float: right;margin: 0 10px;">
                发布时间：2018-09-12 12:38
            </div>
        </div>
        <div>
            内容~~~~~
        </div>
        <div class="line"></div>
        <div class="remarks">
            <div class="zhuyao">
                附件下载:
            </div>
            <div class="fujian">2018年第3批采购产品质量监督抽查不合格供应商及产品汇总表.doc</div>
            <div class="fujian">2018年第3批采购产品质量监督抽查不合格供应商及产品汇总表.doc</div>
        </div>
    </div>
</div>
