<div class="data">
    <div class="quality_block">
        <div class="quality_title">
            <div class="quality_titleRed">
                市场信息
            </div>
            <div class="crumbs">
                <span>市场信息</span>>
                <span>市场信息详情</span>
            </div>
        </div>
        <div class="dataTitle">
            在新时代党的真挚关怀下不断奋进
        </div>
        <div class="divid">
            <div class="dividWord" style="float: left;">
                西昌卫星发射中心行政管理部
            </div>
            <div class="dividWord" style="float: right;margin: 0 10px;">
                阅读量：2934
            </div>
            <div class="dividWord" style="float: right;margin: 0 10px;">
                发布时间：2018-09-12 12:38
            </div>
        </div>
        <div>
            内容~~~~~
        </div>
        <div class="line"></div>
        <div class="remarks">
            <div class="zhuyao">
                附件下载:
            </div>
            <div class="fujian">2018年第3批采购产品质量监督抽查不合格供应商及产品汇总表.doc</div>
            <div class="fujian">2018年第3批采购产品质量监督抽查不合格供应商及产品汇总表.doc</div>
        </div>
    </div>
</div>


<div class="other">
    <div class="other_data">
        <div class="friendLink">
            <span style="color: #CF2323;float: left;margin-right: 60px;">友情连接</span>
            <div style="float: left;width: 80%;">
                <div class="friendLinkBox">西昌卫星发射中心官方网站</div>
                <div class="friendLinkBox">中国探月工程设计研究院</div>
                <div class="friendLinkBox">中华人民共和国工业和信息化部</div>
                <div class="friendLinkBox">中国探月工程设计研究院</div>
            </div>
            <span style="float: right;">更多 ></span>
        </div>
        <div class="friendLink">
            <span style="color: #CF2323;float: left;margin-right: 90px;">关于</span>
            <div style="float: left;width: 80%;">
                <div class="friendLinkBox">联系我们</div>
                <div class="friendLinkBox">网址导航</div>
                <div class="friendLinkBox">网址导航</div>
            </div>
        </div>
        <div class="friendLink">
            <span style="color: #CF2323;float: left;margin-right: 90px;">商务</span>
            <div style="float: left;width: 80%;">
                <div class="friendLinkBox" style="font-weight: 600">服务热线：0834-82738879</div>
                <div class="friendLinkBox" style="font-weight: 600">商务合作：0834-23976688</div>
                <div class="friendLinkBox" style="font-weight: 600">官方邮件地址：xcwsfszx@163.com</div>
            </div>
        </div>
        <div class="heng"></div>
        <div class="logo">
            <img src="../../../../assets/images/logo.png">
            <span style="font-size:20px;margin: 0 5px;">西昌卫星发射中心</span>
            <span style="font-size:16px;margin: 0 5px;">物资供应查询平台</span>
            <div class="small-font">XICHANG SATELLITE LAUNCH CENTER MATERIAL SUPPLY INQUIRY PLATFORM</div>
        </div>

        <div class="you">
            <div>
                Copyright©2018版权所有 中国西昌卫星发射中心 备案序号:川ICP备 10029358号 公网安备1104010029358号
            </div>
            <div>
                网站运维：四川成都清数科技有限公司 访问统计：
            </div>
            <div>
                地址：凉山彝族自治州冕宁县泽远乡封家湾　邮编：735400
            </div>
        </div>
    </div>
</div>