<div class="data">
  <div class="quality_block">
    <div class="quality_title">
      <div class="quality_titleRed">
        信息查询
      </div>
      <div class="quality_titleOptionOK">
        设备资产
      </div>
      <div class="quality_titleOption" (click)="jump('equipment/supplier','')">
        供应商
      </div>
      <div class="quality_titleOption" (click)="jump('equipment/bids','')">
        招投标机构
      </div>
    </div>
  </div>
  <div style="margin-bottom: 10px;">
    <input nz-input placeholder="设备资产名称" [(ngModel)]="name" style="width: 16%;margin: 20px 2%;">
    <input nz-input placeholder="供应商" [(ngModel)]="supplierName" style="width: 16%;margin: 20px 2%;">
    <input nz-input placeholder="采购负责人" [(ngModel)]="leadingPerson" style="width: 16%;margin: 20px 2%;">

    <!-- <div class="queryButton">下载</div> -->
    <div class="queryButton" (click)="getList()">查询</div>
  </div>

  <div class="equipmentData">
    <div class="division" style="cursor: pointer;" *ngFor="let item of data; let i = index" (click)="jump('equipment/see',item.id)">
      <img [src]="item.imgUrl" class="icon">
      <div class="name">{{item.name}}</div>
      <div class="number">{{item.code}}</div>
      <div class="company">{{item.supplierName}}</div>
    </div>
  </div>
</div>
<div style="width: 100%;text-align: center;background-color: white;padding-bottom: 40px;">
  <nz-pagination nzShowSizeChanger [nzTotal]="total" [(nzPageSize)]="pageSize" [(nzPageIndex)]="pageIndex"
    (nzPageSizeChange)="getList()" (nzPageIndexChange)="getList()"></nz-pagination>
</div>
