<div class="data">
  <div class="quality_block">
    <div class="quality_title">
      <div class="quality_titleRed">
        通知公告
      </div>
    </div>
    <div class="lastContent">
      <div class="line" *ngFor="let item of data1" (click)="jump('notice/see',item.id)">
        <div class="circular"></div>
        <div class="lineData">
          {{item.title}}
        </div>
        <div class="date">
          {{item.updateTime}}
        </div>
      </div>
    </div>
  </div>
</div>
<div style="width: 100%;text-align: center;background-color: white;padding-bottom: 40px;">
  <nz-pagination nzShowSizeChanger [nzTotal]="total" [(nzPageSize)]="pageSize" [(nzPageIndex)]="pageIndex"
    (nzPageSizeChange)="getList()" (nzPageIndexChange)="getList()"></nz-pagination>
</div>