<div class="data">
    <div class="quality_block">
        <div class="quality_title">
            <div class="quality_titleRed">
                后勤管理
            </div>
            <div class="crumbs">
            </div>
        </div>
        <div class="dataTitle">
            车辆接送
        </div>
        <div class="dataData">
            <div nz-row>
                <div nz-col nzSpan="8" class="emmm">用车单位/人员姓名:</div>
                <div nz-col nzSpan="12" class="ennn">
                    <input nz-input placeholder="请输入姓名" [(ngModel)]="name">
                </div>
                <div nz-col nzSpan="8" class="emmm">用车时间:</div>
                <div nz-col nzSpan="12" class="ennn">
                    <nz-date-picker nzShowTime nzFormat="yyyy-MM-dd HH:mm:ss" nzPlaceHolder="请选择时间" nzAllowClear="false"
                        [(ngModel)]="date" (ngModelChange)="dateChange($event)"></nz-date-picker>
                </div>
                <div nz-col nzSpan="8" class="emmm">接送站地点:</div>
                <div nz-col nzSpan="12" class="ennn">
                    <input nz-input placeholder="请输入接送站地点" [(ngModel)]="address">
                </div>
                <div nz-col nzSpan="8" class="emmm">航班号:</div>
                <div nz-col nzSpan="12" class="ennn">
                    <input nz-input placeholder="请输入航班号" [(ngModel)]="flight">
                </div>
                <div nz-col nzSpan="8" class="emmm">车次:</div>
                <div nz-col nzSpan="12" class="ennn">
                    <input nz-input placeholder="请输入车次" [(ngModel)]="trainNumber">
                </div>
                <div nz-col nzSpan="8" class="emmm">用车人数:</div>
                <div nz-col nzSpan="12" class="ennn">
                    <input nz-input placeholder="请输入用车人数" [(ngModel)]="trainPersons">
                </div>
                <div nz-col nzSpan="8" class="emmm">申请车型:</div>
                <div nz-col nzSpan="12" class="ennn">
                    <input nz-input placeholder="请输入申请车型" [(ngModel)]="vehicleType">
                </div>
                <div nz-col nzSpan="8" class="emmm">行驶区域:</div>
                <div nz-col nzSpan="12" class="ennn">
                    <input nz-input placeholder="请输入行驶区域" [(ngModel)]="vehicleArea">
                </div>
                <div nz-col nzSpan="8" class="emmm">联系电话:</div>
                <div nz-col nzSpan="12" class="ennn">
                    <input nz-input placeholder="请输入联系电话" [(ngModel)]="phone">
                </div>
                <div nz-col nzSpan="8" class="emmm">申请事由:</div>
                <div nz-col nzSpan="12" class="ennn">
                    <textarea class="publishText publishText-1" placeholder="请输入申请事由" [(ngModel)]="applicationReason"></textarea>
                </div>
                <div style="width: 100%;margin: 20px 0;overflow: hidden;text-align: center">
                    <button nz-button nzType="primary" (click)="save()">确定</button>
                </div>
            </div>
        </div>
    </div>
</div>