<div class="menuCpl" id="menuCpl">
  <div class="logoHead">
    <div>
      <div class="logo">
        <img style="height:35px;margin-top: -10px;" src="./assets/images/logo/logo.png" alt="">
        <span class="logoTel">西昌卫星发射中心</span>
        <span class="logoTel" style="margin-left: 0px;font-size: 20px;">物资供应查询平台</span>
        <!-- <div class="searchK">
          <img style="height:20px;margin-top: -3px;margin-left: 10px;" src="./assets/images/logo/search.png"
            alt="">
          <input type="text" class="inputgaga" placeholder="搜索关键字，联系人或帮助">
        </div> -->
      </div>
    </div>
    <div class="right">
      <nz-dropdown *ngIf="token" [nzPlacement]="'bottomRight'">
        <a class="ant-dropdown-link" nz-dropdown>
          <span class="overflow" [title]='userName'>
            <img class="hardImg" [src]="'/v1/file/img/'+hardImg" alt="">
            <b> {{userName}}</b>
          </span>
          <i class="anticon anticon-down"></i>
        </a>
        <ul nz-menu>
          <li *ngFor="let item of rightDown let i=index" nz-menu-item (click)="downChange(item)">
            <span>{{item.label}}</span>
          </li>
        </ul>
      </nz-dropdown>
    </div>
  </div>
  <div class="header">
    <div>
      <!-- <div class="logo">
        <img style="height: 40px;" src="./assets/images/logo/logo.png" alt="">
      </div> -->
      <div class="topMenu">
        <ul class="leftUrl clear" *ngIf="menuLocation">
          <li *ngFor="let item of menu let i=index" [ngClass]="{active:item.active,show:item.show,noChild:!item.children.length}">
            <div class="h2" [class.hasC]="item.children.length" (click)="bigMenuTop(item)">
              <span>{{item.name}}</span>
              <i *ngIf="item.children.length" class="anticon anticon-up"></i>
              <i *ngIf="item.children.length" class="anticon anticon-down"></i>
            </div>
            <ul class="child">
              <li *ngFor="let child of item.children let j=index" (click)="goMenuTop(child)" [ngClass]="{active:child.active}">
                <span>{{child.name}}</span>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="mainBox" [ngStyle]="heightClass" [ngClass]="{menuTopBox:menuLocation}">
    <router-outlet></router-outlet>
  </div>

  <div class="other">
    <div class="other_data">
      <div class="friendLink">
        <span style="color: #CF2323;float: left;margin-right: 60px;">友情连接</span>
        <div style="float: left;width: 80%;">
          <div class="friendLinkBox" *ngFor="let item of friendLink" (click)="gun(item.link)">{{item.name}}</div>
        </div>
        <span style="float: right;" (click)="gengduogun()">更多 ></span>
      </div>
      <div class="friendLink">
        <span style="color: #CF2323;float: left;margin-right: 90px;">关于</span>
        <div style="float: left;width: 80%;">
          <div class="friendLinkBox">联系我们</div>
        </div>
        <div style="width: 106px;position: absolute;margin-left: 250px;margin-top: -15px" >
          <span style="line-height: 50px">举报监督</span>
          <img src="./assets/images/cert.png">
        </div>
      </div>
      <div class="friendLink">
        <span style="color: #CF2323;float: left;margin-right: 90px;">商务</span>
        <div style="float: left;width: 80%;">
          <div class="friendLinkBox" style="font-weight: 600">服务热线：0834-82738879</div>
          <div class="friendLinkBox" style="font-weight: 600">商务合作：0834-23976688</div>
          <div class="friendLinkBox" style="font-weight: 600">官方邮件地址：xcwsfszx@163.com</div>
        </div>
      </div>
      <div class="heng"></div>
      <div class="logo">
        <img src="./assets/images/logo.png">
        <span style="font-size:20px;margin: 0 5px;">西昌卫星发射中心</span>
        <span style="font-size:16px;margin: 0 5px;">物资供应查询平台</span>
        <div class="small-font">XICHANG SATELLITE LAUNCH CENTER MATERIAL SUPPLY INQUIRY PLATFORM</div>
      </div>
      <div class="you">
        <div>
          Copyright©2018版权所有 中国西昌卫星发射中心 备案序号:川ICP备 10029358号 公网安备1104010029358号
        </div>
        <div>
          网站运维：四川成都清数科技有限公司 访问统计：
        </div>
        <div>
          地址：凉山彝族自治州冕宁县泽远乡封家湾　邮编：735400
        </div>
      </div>
    </div>
  </div>
</div>